<div
  class="text-center"
  style="margin-top: 300px; position: absolute; margin-left: 600px"
>
  <div class="spinner-grow m-1 text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow m-1 text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow m-1 text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow m-1 text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow m-1 text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow m-1 text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="spinner-grow m-1 text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
